/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 Jul, 2020, 10:55:38 AM
    Author     : dilip
*/

.mg-3{
    /*position: absolute;*/
    width: 30%;
    padding-right: .75rem;
    padding-left: .75rem;
    padding-bottom: 10px;
    float: left;
}
.mg-9{
    /*position: absolute;*/
    width: 70%;
    padding-right: .75rem;
    padding-left: .75rem;
    padding-bottom: 10px;
    float: left;
}
.custom-title{
    margin-left: 20px;   
}
.btn-sm{
    margin-right: .25rem!important;
}

.sidebar-brand-icon{
    background:url('../assets/images/ordrordr.jpg');
}
.custom-error{
    color: red;
    line-height: 1;
    margin-left: 12px;
}

@media (min-width: 320px) and (max-width: 480px) and (orientation: portrait) {

    #ajax-loader span {
        left: 35% !important;
        top: 40%;
    }
}

.ajax-loader {
    background: #fff;
    opacity: 0.9;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999;
    filter: Alpha(Opacity=40);
}


#ajax-loader span {
    left: 45% !important;
    /* margin-left: -265px;*/
    padding: 10px;
    position: fixed;
    top: 50%;
    text-align: center!important;
    z-index: 999999;
}

#ajax-loader .span-text {
    left: 45% !important;
    /* margin-left: -265px;*/
    padding: 10px;
    position: fixed;
    top: 50%;
    text-align: center!important;
    z-index: 999999;
    margin-top:15%!important;
}

.ajax-loader .loading-text {
    left: 45% !important;
    padding: 10px;
    margin-left:2.5%!important;
    position: fixed;
    margin-top:2.5%!important;
    text-align: center!important;
    z-index: 999999;
}
.ajax-loader .display-text {
    margin-top:2%!important; margin-left:32%!important;
}
#circularG{
	position:relative;
	width:90px;
	height:90px;
	margin: auto;
}
#circularG span{
    font-size: 10px;
    margin-left: 26px;
    margin-top: 37px;
}
.circularG{
	position:absolute;
	background-color:rgb(250,127,158);
	width:21px;
	height:21px;
	border-radius:14px;
		-o-border-radius:14px;
		-ms-border-radius:14px;
		-webkit-border-radius:14px;
		-moz-border-radius:14px;
	animation-name:bounce_circularG;
		-o-animation-name:bounce_circularG;
		-ms-animation-name:bounce_circularG;
		-webkit-animation-name:bounce_circularG;
		-moz-animation-name:bounce_circularG;
	animation-duration:1.1s;
		-o-animation-duration:1.1s;
		-ms-animation-duration:1.1s;
		-webkit-animation-duration:1.1s;
		-moz-animation-duration:1.1s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}


#circularG_1{
    left:0;
    top:36px;
    animation-delay:0.41s;
    -o-animation-delay:0.41s;
    -ms-animation-delay:0.41s;
    -webkit-animation-delay:0.41s;
    -moz-animation-delay:0.41s;
}

#circularG_2{
    left:9px;
    top:9px;
    animation-delay:0.55s;
    -o-animation-delay:0.55s;
    -ms-animation-delay:0.55s;
    -webkit-animation-delay:0.55s;
    -moz-animation-delay:0.55s;
}

#circularG_3{
    top:0;
    left:36px;
    animation-delay:0.69s;
    -o-animation-delay:0.69s;
    -ms-animation-delay:0.69s;
    -webkit-animation-delay:0.69s;
    -moz-animation-delay:0.69s;
}

#circularG_4{
    right:9px;
    top:9px;
    animation-delay:0.83s;
    -o-animation-delay:0.83s;
    -ms-animation-delay:0.83s;
    -webkit-animation-delay:0.83s;
    -moz-animation-delay:0.83s;
}

#circularG_5{
    right:0;
    top:36px;
    animation-delay:0.97s;
    -o-animation-delay:0.97s;
    -ms-animation-delay:0.97s;
    -webkit-animation-delay:0.97s;
    -moz-animation-delay:0.97s;
}

#circularG_6{
    right:9px;
    bottom:9px;
    animation-delay:1.1s;
    -o-animation-delay:1.1s;
    -ms-animation-delay:1.1s;
    -webkit-animation-delay:1.1s;
    -moz-animation-delay:1.1s;
}

#circularG_7{
    left:36px;
    bottom:0;
    animation-delay:1.24s;
    -o-animation-delay:1.24s;
    -ms-animation-delay:1.24s;
    -webkit-animation-delay:1.24s;
    -moz-animation-delay:1.24s;
}

#circularG_8{
    left:9px;
    bottom:9px;
    animation-delay:1.38s;
    -o-animation-delay:1.38s;
    -ms-animation-delay:1.38s;
    -webkit-animation-delay:1.38s;
    -moz-animation-delay:1.38s;
}

